@use '@/styles/index' as *;

.product-card {
  padding: $padding-lg;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;

  &__container {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    background-color: #fff;
    padding: $padding-lg;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-color: $color-border;

    @media screen and (max-width: $breakpoint-md) { 
      width: 100%;
      padding: $padding-sm;
    }
  }

  &__title {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
  }

  &__price {
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-secondary;
  }

  img, &__title, &__text, &__price {
    margin-bottom: $padding-xs;
  }
}
