<div class="idhl-header">
    <div class="idhl-header__logo">
        <img src="{{ 'idhl-icon-logo.svg' | asset_url }}" alt="Icon description" width="75" height="auto">
    </div>
    <div class="idhl-header__bag">
        <span class="idhl-header__bag-count">2</span>
        <img src="{{ 'idhl-icon-bag.svg' | asset_url }}" alt="Icon description" width="25" height="auto">
    </div>
</div>