<div class="IDHL-cart-backdrop"></div>
<div class="IDHL-cart">
    <div class="IDHL-cart__header">
        <h2 class="IDHL-cart__title">Your Bag</h2>
        <button class="IDHL-cart__close">&times;</button>
    </div>

    <div class="IDHL-cart__container">
        <div class="IDHL-cart__item">
            <img src="{{ 'chicken.png' | asset_url }}" alt="Natures Menu Dog Food Can Chicken" class="IDHL-cart__item-image" width="140" height="auto">
            <div class="IDHL-cart__item-details">
            <p class="IDHL-cart__item-name">Natures Menu Dog Food Can Chicken</p>
            <p class="IDHL-cart__item-price">£22.81</p>
            <button class="IDHL-cart__remove">REMOVE</button>
            </div>
        </div>
    </div>

    <div class="IDHL-cart__footer">
        <p class="IDHL-cart__subtotal">Subtotal: £22.81</p>
        <button class="btn btn-xlg btn-primary ">PROCEED TO CHECKOUT</button>
        <p class="IDHL-cart__continue">CONTINUE SHOPPING</p>
    </div>
</div>
