<section class="product-card">
  <div class="product-card__container">
    <img
      src="{{ 'chicken.png' | asset_url }}"
      srcset="{{ 'chicken.png' | asset_url }} 1x, {{ 'chicken@2x.png' | asset_url }} 2x"
      alt="product card image"
      class="product-card__image"
      width="100%"
      height="auto"
    />

    <h2 class="product-card__title">Natures Menu Dog Food Can Chicken</h2>
    <p class="product-card__price">£22.81</p>
    <button class="btn btn-lg btn-primary">ADD TO BAG</button>
  </div>
</section>
