<div class="page">
        <div class="page__wrapper">
            {% section 'info-text' %}
            {% section 'product-card' %}
            {% section 'IDHL-cart-drawer' %}
        </div>
</div>